<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{/if}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>

            
			<div class="separator"></div>

			<p class="description">{{@blog.description}}</p>
			<div class="social-icons">
                <a href="http://www.environmental-research.ox.ac.uk/students/andrew-martin/" target="_blank">Ox</a>
				<a href="https://github.com/AndrewIOM" class="icon icon-github" target="_blank"></a>
				<a href="https://twitter.com/iomandrew" class="icon icon-twitter" target="_blank"></a>
				<a href="/rss" class="icon-rss" target="_blank"></a>
				<a href="mailto:andy@acm.im" class="icon-mail"></a>
			</div>
		</header>
	</div>