@import 'variables';
@import 'posts';
@import 'fonts';
@import 'layout';
@import 'general';

a {
	color: $gray;
	transition: color ease 0.3s;

	&:hover {
		color: $linkColor;
	}
}

.button {
    padding: 0.4em 0.6em;
    text-decoration: none;
    font-size: 0.9em;
    background-color: $primary-highlight;
    color: white;
    margin: auto;
    display: block;
    width: 8em;
    text-align: center;
}

.button:hover {
    color: white;
    background-color: darkgreen;
    transition: background-color 0.3s ease 0s;
}

.pagination {
    text-align:center;
}